.container-fluid {

    padding: 5px;
    text-align: center;
}
body {
    background-image: linear-gradient(to right, #c0cada, #8b9dca, #6170b6, #43419c, #32037c);
    color: white;
    
}
h1 {

    font-size: 45px;
}
.user-options {
    
    position: absolute;
    top: 20%;
    left: 0;
}
.user-options:hover {

    cursor: pointer;

}
.computer-options {

    position: absolute;
    bottom: 20%;
    right: 0;
}

.badge {
    border:solid 3px #000000;
    border-radius: 50%;
    display: block;
    background-color: white;
    padding: 5px;
    margin: 10px;
}
.green-glow {

    border-color: rgb(11, 151, 11);
        -webkit-box-shadow: -3px 5px 11px 11px #1AFF25; 
box-shadow: -3px 5px 11px 11px #1AFF25;

}
.red-glow {

    border-color: red;
    -webkit-box-shadow: -3px 5px 11px 11px #FF1A1A; 
box-shadow: -3px 5px 11px 11px #FF1A1A;
}
.gray-glow {

    border-color: gray;
    -webkit-box-shadow: -3px 5px 11px 11px #77766A; 
box-shadow: -3px 5px 11px 11px #77766A;

}
.badge-img {
    
    margin: 10px auto;
    width: 300px;
    height: 300px;
}
img {

    width: 250px;
    height: 250px;
}
.user-img {

    width: 50px;
    height: 50px;
}
.row {
    position: relative;
    padding: 5px;
    /*background-color: black;*/
}
.col-md-6 {
    
    /*background-color: pink;*/
    text-align: center;
}
/*styling needs to be changed rest the functionality is working */